<!doctype html>
<html lang="en"><head>
	<script src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js'></script>
	<script src='assets/js/modules/head.min.js' data-headjs-load='assets/js/core/init.js'></script>
	<title update-page-title>Fangular</title>
</head>
<body class="ng-cloak">
<div ui-view="header"></div>

<eeh-navigation-sidebar menu-name="'bar'">
    <ui-view></ui-view>
</eeh-navigation-sidebar>

<div ui-view="main_body"></div>
<div ui-view="footer"></div>
</body>
</html>